[submodule "external/IOC_GaiaLib"]
	path = external/IOC_GaiaLib
	url = https://github.com/manvalan/IOC_GaiaLib.git
[submodule "external/IOC_SPICE"]
	path = external/IOC_SPICE
	url = https://github.com/manvalan/IOC_SPICE.git
